<div modal="shouldBeOpen" options="opts">
    <div class="modal-header">
        <button type="button" class="close" ng-click="exit()" aria-hidden="true">×</button>
        <h3>Register for Precru.it</h3>
    </div>
    <div class="modal-body">

        <!-- Error Alerts-->
        <div class="container-fluid">
            <div class="row-fluid">
                <div error-alerts></div>
            </div>
        </div>
        <!-- End Error Alerts-->

        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <form class="form-horizontal" ui-keyup="{'enter': 'register()'}" >
            <div class="control-group">
                <label class="control-label" for="login-modal-f-name">First Name</label>
                <div class="controls">
                    <input type="text" id="login-modal-f-name" placeholder="First Name" ng-model="user.first_name" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="login-modal-l-name">Last Name</label>
                <div class="controls">
                    <input type="text" id="login-modal-l-name" placeholder="Last Name" ng-model="user.last_name" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="login-modal-username">Username</label>
                <div class="controls">
                    <input type="text" id="login-modal-username" placeholder="Username" ng-model="user.username" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="login-modal-email">Email</label>
                <div class="controls">
                    <input type="email" id="login-modal-email" placeholder="Email" ng-model="user.email" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="login-modal-password">Password</label>
                <div class="controls">
                    <input type="password" id="login-modal-password" placeholder="Password" ng-model="user.password" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="login-modal-c-password">Confirm Password</label>
                <div class="controls">
                    <input type="password" id="login-modal-c-password" placeholder="Confirm Password" ng-model="user.confirmPassword" required>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="" ng-click="register()" role="button"class="btn btn-primary" data-toggle="modal"  data-dismiss="modal" aria-hidden="true">Register</a>
    </div>
</div>