<div class="well streamItem">
    <div class="row-fluid">
        <div class="di fl profileImageContainer span2">
            <img class="profileImage" ng-src="{{lead.imageUrl}}"/>
        </div>
        <div class="span10">
            <h3 class="leadName di"><a ng-href="{{lead.url}}" ng-bind="lead.name" target="_blank"></a>,</h3>
            <span class="leadHeadline" ng-bind="lead.headline"></span>
            <div class="di" ng-click="removeLead()">
                <button class="pull-right btn dropdown-toggle"><i class="icon-remove fr"></i></button>
            </div>
            <span class="email" ng-bind="lead.email"></span>
            <br>
            <div>
                <span class="attn">&raquo; </span><strong ng-bind="lead.events[0].title"></strong>
                <span class="fr timestamp" ng-bind="lead.events[0].timestamp"></span>
            </div>
            <div collapse="areEventsCollapsed" ng-repeat="event in lead.events.slice(1, lead.events.length)">
                <span class="attn">&raquo; </span><strong ng-bind="event.title"></strong>
                <span class="fr timestamp" ng-bind="event.timestamp"></span>
            </div>
            <button class="btn" ng-click="areEventsCollapsed = !areEventsCollapsed" ng-show="lead.events.length > 1">Show More</button>
        </div>
    </div>
</div>