<div class="well streamItem">
    <div class="row-fluid">
        <div class="di fl profileImageContainer span2">
            <img class="profileImage" ng-src="{{person.imageUrl}}"/>
        </div>
        <div class="span10">
            <h3 class="personName di"><a ng-href="{{person.url}}" ng-bind="person.name" target="_blank"></a>,</h3>
            <span class="personHeadline" ng-bind="person.headline"></span>
            <div class="di" ng-click="removePerson()">
                <button class="pull-right btn dropdown-toggle"><i class="icon-remove fr"></i></button>
            </div>
            <span class="email" ng-bind="person.email"></span>
            <br>
            <div>
                <span class="attn">&raquo; </span><strong ng-bind="person.events[0].title"></strong>
                <span class="fr timestamp" ng-bind="person.events[0].timestamp"></span>
            </div>
            <div collapse="areEventsCollapsed" ng-repeat="event in person.events.slice(1, person.events.length)">
                <span class="attn">&raquo; </span><strong ng-bind="event.title"></strong>
                <span class="fr timestamp" ng-bind="event.timestamp"></span>
            </div>
            <button class="btn" ng-click="areEventsCollapsed = !areEventsCollapsed" ng-show="person.events.length > 1">Show More</button>
        </div>
    </div>
</div>