<!--create the navbar-->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-th-list"></span>
            </a>
            <a class="brand" href="#/home"><img src="../../static/img/precruit-nav.png" height="40" alt="Precru.it" /></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-left">
                    <li><a href="#/dash" ui-route="/home" ng-hide="$uiRoute"><i class="icon-user" ></i> Stream</a></li>
                    <li><a href="#/addLeads" ui-route="/home" ng-hide="$uiRoute"><i class="icon-plus"></i> Add Leads</a></li>
                </ul>
				<ul class="nav pull-right">
					<!-- if logged in -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" ui-route="/home" ng-hide="$uiRoute">Welcome, {{username}}!<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                    <li ui-route="/home" ng-hide="$uiRoute" class="dropdown"><a href="#/myAccount"><i class="icon-cog"></i> Manage</a></li>
					<!-- end -->
					<!-- if not logged in -->

					<!-- Login Modal -->
                    <div class="btn-group">
                        <div ng-controller="LoginModalCtrl" class="di">
                            <a href="" ng-click="open()" class="btn" ui-route="/home" ng-show="$uiRoute">Login</a>
                            <div login-modal class="di"></div>
                        </div>
                        <!-- End Login Modal -->

                        <!-- Register Modal -->
                        <div ng-controller="RegisterModalCtrl" class="di">
                            <a href="" ng-click="open()" class="btn" ui-route="/home" ng-show="$uiRoute">Register</a>
                            <div register-modal class="di"></div>
                        </div>
                        <!-- End Register Modal -->
                    </div>
                    <!-- end -->
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Pay Modal -->
<div id="payModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-body">
			<h3>Thanks for Registering, [name]</h3>
			<p> Precru.it services are $99.00 per month, please use a payment option below.</p>
		</div>
		<div class="modal-footer">
			<!-- Stripe -->
			<form action="" method="POST">
				<span data-toggle="modal"  data-dismiss="modal">
				  <script
					src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button" 
					data-key="pk_test_E79QPnCW1icddzdNWRdBnXsZ"
					data-amount="9900"
					data-name="Precru.it"
					data-description="$99 per month"
					data-image="../../static/img/500_leads.jpg">
				  </script>
				</span>
			</form>
		</div>
</div>