<!--create the navbar-->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-th-list"></span>
            </a>
            <a class="brand" href="#/"><img src="../../static/img/precruit-nav.png" height="40" alt="Precru.it" /></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-left">
                    <li><a href="#/dash" ui-route="/home" ng-hide="$uiRoute"><i class="icon-user" ></i> Stream</a></li>
                    <li><a href="#/addLead" ui-route="/home" ng-hide="$uiRoute"><i class="icon-plus"></i> Add Leads</a></li>
                </ul>
				<ul class="nav pull-right">
					<!-- if logged in -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" ui-route="/home" ng-hide="$uiRoute">Welcome, {{username}}!<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                    <li ui-route="/home" ng-hide="$uiRoute" class="dropdown"><a href="#/myAccount"><i class="icon-cog"></i> Manage</a></li>
					<!-- end -->
					<!-- if not logged in -->

					<!-- Login Modal -->
                    <div class="btn-group">
                        <div ng-controller="LoginModalCtrl" class="di" ng-hide="loggedIn">
                            <a href="" ng-click="open()" class="btn" ui-route="/home" ng-show="$uiRoute">Login</a>
                            <div login-modal class="di"></div>
                        </div>
                        <!-- End Login Modal -->

                        <!-- Register Modal -->
                        <div ng-controller="RegisterModalCtrl" class="di" ng-hide="loggedIn">
                            <a href="" ng-click="open()" class="btn" ui-route="/home" ng-show="$uiRoute">Register</a>
                            <div register-modal class="di"></div>
                        </div>
                        <!-- End Register Modal -->

                        <div payment-modal style="display: none;"></div>
                    </div>
                    <!-- end -->
                </ul>
            </div>
        </div>
    </div>
</div>