.nav-list {
  padding-right: 15px;
  padding-left: 0px;
  margin-bottom: 0;
}

.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -30px !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.divider {
  margin-left: -15px !important;
 }

.fl {
    float: left;
}

.fr {
    float:right;
}

.leadName {
    margin-bottom: 0;
    margin-top: 0;
}

.example-repeat-enter-setup,
.example-repeat-leave-setup,
.example-repeat-move-setup {
    -webkit-transition:all linear 0.5s;
    -moz-transition:all linear 0.5s;
    -ms-transition:all linear 0.5s;
    -o-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.example-repeat-enter-setup {
    line-height:0;
    opacity:0;
}
.example-repeat-enter-setup.example-repeat-enter-start {
    line-height:20px;
    opacity:1;
}

.example-repeat-leave-setup {
    opacity:1;
    line-height:20px;
}
.example-repeat-leave-setup.example-repeat-leave-start {
    opacity:0;
    line-height:0;
}

.example-repeat-move-setup { }
.example-repeat-move-setup.example-repeat-move-start { }

div.ng-view {
    margin-top: 60px;
}

.leadHeadline {
    display:inline !important;
    margin-left: 0 !important;
}

.streamItem {
    font-size: 18px;
    padding: 10px !important;
}

.streamItem span {
    display: block;
    margin-left: 15px;
}

.profileImage {
    max-height: 100px;
}

.profileImageContainer {
    width:100px;
    text-align: center;
}

.di {
    display: inline;
}

.timestamp {
    font-size: 12px;
}

@media (max-width: 767px) {
    .row-fluid.streamList {
        text-align: center;
    }

    .profileImage {
        height: 10em;
        max-height:10em;
    }
}

/**** CSS overrides and additions - JG ****/
.hero-unit {padding:25px}
.attn {color:#ffae00; font-weight:bold; font-size:22px; display:inline !important;}
.email {color:#888; font-size:12px;}

@media (max-width: 767px) {
.hero-unit {padding:15px}
}

.navbar-inner {
    height: 41px !important;
}

.tac {
    text-align: center;
}

input.ng-dirty.ng-invalid {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

/** Loading Overlay **/
#overlay {
    background: #080808;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px; }
#overlay ul {
    padding: 0;
    margin: 300px auto 0;
    list-style: none;
    text-align: center;
    display: block; }
#overlay ul li {
    width: 10px;
    height: 10px;
    background-color: white;
    display: inline-block;
    margin: 0 4px;
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    -ms-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: loading cubic-bezier(0.03, 0.615, 0.995, 0.415) 2.5s infinite both;
    -moz-animation: loading cubic-bezier(0.03, 0.615, 0.995, 0.415) 2.5s infinite both;
    -o-animation: loading cubic-bezier(0.03, 0.615, 0.995, 0.415) 2.5s infinite both;
    -ms-animation: loading cubic-bezier(0.03, 0.615, 0.995, 0.415) 2.5s infinite both;
    animation: loading cubic-bezier(0.03, 0.615, 0.995, 0.415) 2.5s infinite both; }
#overlay ul li.li6 {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    animation-delay: 0.1s; }
#overlay ul li.li5 {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
    -ms-animation-delay: 0.25s;
    animation-delay: 0.25s; }
#overlay ul li.li4 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s; }
#overlay ul li.li3 {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    animation-delay: 0.75s; }
#overlay ul li.li2 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s; }
#overlay ul li.li1 {
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
    -o-animation-delay: 1.25s;
    -ms-animation-delay: 1.25s;
    animation-delay: 1.25s; }

@-webkit-keyframes loading {
    0% {
        -webkit-transform: translateX(-30px);
        opacity: 0; }

    25% {
        opacity: 1; }

    50% {
        -webkit-transform: translateX(30px);
        opacity: 0; }

    100% {
        opacity: 0; } }

@-moz-keyframes loading {
    0% {
        -moz-transform: translateX(-30px);
        opacity: 0; }

    25% {
        opacity: 1; }

    50% {
        -moz-transform: translateX(30px);
        opacity: 0; }

    100% {
        opacity: 0; } }

@-o-keyframes loading {
    0% {
        -o-transform: translateX(-30px);
        opacity: 0; }

    25% {
        opacity: 1; }

    50% {
        -o-transform: translateX(30px);
        opacity: 0; }

    100% {
        opacity: 0; } }

@-ms-keyframes loading {
    0% {
        -ms-transform: translateX(-30px);
        opacity: 0; }

    25% {
        opacity: 1; }

    50% {
        -ms-transform: translateX(30px);
        opacity: 0; }

    100% {
        opacity: 0; } }

@keyframes loading {
    0% {
        -ms-transform: translateX(-30px);
        opacity: 0; }

    25% {
        opacity: 1; }

    50% {
        -ms-transform: translateX(30px);
        opacity: 0; }

    100% {
        opacity: 0; } }

