#linkedInLogo  img{
	width: 10px;
	height: 10px;
}

body {
	padding-top: 40px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 0px;
  margin-bottom: 0;
}

.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.fr {
    float:right;
}

h4.personName {
    margin-bottom: 2px;
}